@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #0f172a;
  --text-primary: #fafaf9;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-weight: 500;
}

to-currency-container {
  background: rgba(159, 159, 159, 0.74);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}