@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #0f172a;
  --text-primary: #fafaf9;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-weight: 500;
}